{% extends 'layout/base.html' %}

{% block title %}Tra cứu{% endblock %}

{% block content %}
<form method="post" action="">
    <div class="col-4">
    <h3 style="margin-top: 30px">TRA CỨU HỌC SINH</h3>
        <input class="form-control me-2" name="keyword" type="text" id="keyword" onkeyup="searchKeyWordTable()"
               placeholder="Nhập mã học sinh, tên học sinh, lớp...">
        <div class="wrap" style="overflow-y: auto; margin-top: 15px; max-height: 350px; width:1300px;border-bottom: 1px solid grey">
            <table class="table table-bordered" id="pupil-table">
                <tr>
                    <th>Mã học sinh</th>
                    <th>Tên học sinh</th>
                    <th>Lớp</th>
                    <th>Khối</th>
                </tr>
                <tbody>
                {% for hocsinh, lop, khoi in hocsinh_info %}
                <tr>
                    <td>{{ hocsinh.id }}</td>
                    <td>{{ hocsinh.ho }} {{ hocsinh.ten }}</td>
                    <td>{{ lop.ten }}</td>
                    <td>{{ khoi.ten }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}